.container{
    .emp-list{
        display: flex;
    }
    .input-box{
        flex-basis: 60%;
    }
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
    .loader-position{
        justify-content: center;
        display: flex;
        padding-top: 50px;
    }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }


    .action-btn{
        flex-basis: 40%;
        padding-left: 20px;
    }
    h1{
        text-align: center;
        padding-top: 100px;
    }
    h2{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    form{
        padding-top: 20px;
    }


}