<div class="container">
    <ng-container *ngIf="empData$ | async as employee">
        <h2>{{employee.name}} review list:-</h2>
    </ng-container>
    <div *ngIf="spinner" class="loader-position">
        <div  class="loader"></div>

    </div>
    <button *ngIf="!spinner" type="button" class="btn btn-primary" (click)="assignOthersToReview()">Assign others to review</button>
    <h1 *ngIf="!reviewDetails?.length && !spinner">No Pending Reviews</h1>
    <form [formGroup]="reviewForm">
        <ul class="list-group">
            <li class="emp-list" formArrayName="list" *ngFor="let item of
                reviewListFormArr?.controls; let i= index">
                <ng-container [formGroupName]="i">
                    <div class="list-group-item input-box">
                        <input type="text"
                            class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            formControlName="description">
                    </div>
                    <div class="action-btn">
                        <button type="button" class="btn btn-primary"
                            *ngIf="i ===
                            (reviewListFormArr?.controls?.length -1)"
                            (click)="addNew(item)">Add</button>
                        <ng-container *ngIf="i
                        <(reviewListFormArr?.controls?.length -1)">
                            <button type="button" class="btn btn-primary" (click)="updateItem(item)">Update</button>
                        </ng-container>
                    </div>

                </ng-container>
            </li>
        </ul>
    </form>
</div>