<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container >
            <tr *ngFor="let item of employeeList; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{item.name}}</td>
                <td class="action-btn">
                    <button type="button" class="btn btn-link"
                        [routerLink]="['/employee/details',item._id]">Submit
                        Assigned Review(s)</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
